<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  
  <body>
    <div class="container">    
      <h2>Enter username and password</h2>
      <form action="/login" method="POST">
        <label for="username">Username: </label>
        <input type="text" id="username">
        <label for="password">Password: </label>
        <input type="password" id="password">
        <input type="submit">
      </form>
      <p>If you don't have an account...</p>
      <a role="button" href="/signuppage" class="btn btn_primary">SIGN UP</a>
    </div>
  </body>
</html>